---
layout: page
title: Israel
attributes: [maps]
---


<script type='text/javascript'>
    $(document).ready(function(){
        var map = new L.Map('map-div');
        var url = 'http://a.tiles.mapbox.com/v3/mrmaksimize.map-qn9b68nj.jsonp';
        wax.tilejson(url, function(tilejson) {
            var leafConnector = new wax.leaf.connector(tilejson);
            map.addLayer(leafConnector);
            map.setView(new L.LatLng(31.23788291430615, 35.09799757967768), 8);
        });

        var getRandomPos = function(min, max) {
            return Math.random() * (max - min) + min;
        }
    
        var locations = {
            {% for tag in site.tags %} 
                {% if tag[0] == 'israel' %}
                    {% assign post_list = tag[1] %}
                        {% for post in post_list %}
                            {{ post.title | replace:' ','' | downcase }}: {
                                location: "{{ post.location | cgi_escape}}",
                                location_human: "{{ post.location }}",
                                title: "{{ post.title }}",
                                link: "{{ post.url }}",
                                image: "{{ post.image }}"
                            }
                        {% endfor %}
                {% endif %}
            {% endfor %}
        }
        
        // Retrieve Photos from Flickr:
        var flickKey = '5185b66b87a1345f857fc311b059f7a0';
        var flickSecret = 'a2fa9fe8c981e97c';
        var flickURL =  'http://api.flickr.com/services/rest/?method=flickr.photosets.getPhotos&api_key=' + flickKey + '&photoset_id=72157632247404667&extras=geo,date_taken,path_alias,url_s,url_m,url_o&format=json&jsoncallback=?';
        $.ajax({
            url: flickURL,
            type: 'GET',
            dataType: 'jsonp',
            error: function(xhr, status, error) {
                console.log(error);
            },
            success: function(flickResult) {
                for ( var i in flickResult.photoset.photo ) {
                    var photo = flickResult.photoset.photo[i];
                    if (photo.longitude == 0) {
                        photo.longitude = getRandomPos(34.8277763202211, 35.2074947447867);
                    }
                    if (photo.latitude == 0) {
                        console.log('mod');
                        photo.latitude = getRandomPos(31.6085619162994, 31.841622626583);
                    }
                    photo.photoURL = 'http://www.flickr.com/photos/' + photo.pathalias + '/' + photo.id
                    var marker = L.marker([photo.latitude, photo.longitude]).addTo(map);
                    var popupHtml = "<div style='text-align:center'><img src='" + photo.url_m + "' style='width:150px'></img><br/><a href='" + photo.photoURL + "'>" + photo.datetaken + "</a></div>";
                    marker.bindPopup(popupHtml);
                }
            }
        });
        for (i in locations) {
             var url = 'http://a.tiles.mapbox.com/v3/mrmaksimize.map-qn9b68nj/geocode/' + locations[i].location +'.jsonp';
             console.log(url);
             $.ajax({
                url: url,
                type: 'GET',
                dataType: 'jsonp',
                error: function(xhr, status, error) {
                    alert("error");
                },
                success: function(geoResult) {
                    if (geoResult.results[0][0]) {
                        console.log(geoResult.results[0][0]);
                        var result = geoResult.results[0][0];
                        var marker = L.marker([result.lat, result.lon]).addTo(map);
                        var popupHtml = "<div style='text-align:center'><img src='" + locations[i].image + "' style='width:150px'></img><br/><a href='" + locations[i].link + "'>" +locations[i].title + "</a></div>";
                        
                        marker.bindPopup(popupHtml);
                    }
                }
            });
        }
});


</script>


<div id="map-div" style="width:100%; height:500px"></div>

